spring.application.name=DiverBook_Server

spring.datasource.url=jdbc:postgresql://{db_url}
spring.datasource.username={username}
spring.datasource.password={password}
spring.sql.init.mode=always
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
file.upload-dir={file upload directory}